.store-admin {
  .menubar {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-bottom: 1px solid #e2e2e2;
    li {
      padding: 16px 16px;
      padding-bottom: 11px;
      transition: all 0.2s cubic-bezier(0, 0, 1, 1);
      border-bottom: 5px solid transparent;

      a {
        font-size: 14px;
        text-decoration: none;
        color: black;
        padding: 16px 0px;
        line-height: 28px;
      }

      &:hover {
        background-color: #ededed;
      }
    }
    .active {
      border-bottom: 5px solid black;
    }
  }
}
