.oldOrderFrame {
  border: 1px var(--mainColor) solid;
}

.oldOrderTopDetail {
  border-bottom: 1px solid var(--mainColor);
}

.oldOrderCommand {
  color: var(--mainColor);
  border: 3px solid var(--mainColor);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.reverseArrow.active{
  rotate: 180deg;
}.oldOrderCommand:hover{
  background-color: var(--subColor);
}
.oldOrderStoreImg{
  width: 100%;
  /* object-fit:cover; */
}
.orderCommandBox{
  border-radius: 10px;
  background-color: #EFE587;;
  /* margin: 0 auto 0;  */
  /* max-height:600px ; */
  /* width: 80%; */
}
.orderCommandBox textarea{
  background-color: #ddc;
}
@media screen and (min-width:768px){
  .orderCommandBox{
  /* width: inherit; */

  }
}