


@media screen and (min-width:768px) {

.city_row{
    display: flex;
    width: 100%;
}
.city_col_bar{
    width: 30%;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0;
    height: 100%;
    position: sticky;
    font-weight: bold;
    right:-25%;
    background-color: white;
}

.city_table{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.city_search_bar{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10vh 3vh;
}

.city_search_bar>p{
    display: block;
    font-size: 1.city_5em;
    margin-top: 0.city_67em;
    margin-bottom: 0.city_67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 700;
}

.city_search_bar_title{
    /* h2 */
    display: block;
    font-size: 1.city_5em;
    margin-top: 0.city_83em;
    margin-bottom: 0.city_83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.city_search_mirror{
    height: 100%;
}
.city_search_bar_name{
    display: flex;
}

.city_search_bar_name_input{
    border: none;
    border-bottom: 1.city_5px solid rgb(224, 224, 224);
    width: 100%;
    height: 3vh;
}


.city_search_bar_price>p{
    /* h2 */
    display: block;
    font-size: 1.city_5em;
    margin-top: 0.city_83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


.city_search_bar_price_max{
align-items: center;
height: fit-content;
}
.city_search_bar_price_max_input{
    border: none;
    border-bottom: 1.city_5px solid rgb(224, 224, 224);
    width: 100%;
    height: 2vh;
}

.city_search_bar_price_min{
align-items: center;
height: fit-content;
}
.city_search_bar_price_min_input{
    border: none;
    border-bottom: 1.city_5px solid rgb(224, 224, 224);
    width: 100%;
    height: 2vh;
}
.city_search_bar_tag>p{
    /* h2 */
    display: block;
    font-size: 1.city_5em;
    margin-top: 0.city_83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.city_search_bar_point_button div{
margin: 2vh 0;
}

.city_search_bar span{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.city_search_bar_time>p{
    /* h2 */
    display: block;
    font-size: 1.city_5em;
    margin-top: 0.city_83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.city_range_label{
    display: flex;
    align-items: center;
}
.city_range_label input{
    width: 20%;
}

.city_slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #FFFFFF;
    outline: none;
    opacity: 0.city_7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.city_slider:hover {
    opacity: 1;
}

.city_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF0000;
    cursor: pointer;
}

.city_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FF0000;
    cursor: pointer;
}

.city_sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.city_sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}


.city_search_bar_submit{
    line-height: 24px;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 8px 24px;
    border-radius: 8px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.city_col_list{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.city_subTitle{
    display: flex;
    padding: 0px;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    justify-content: center;
}

.city_shopCardList{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: center;
width: 100%;
margin: 0 auto;
padding-left: 2em;
}

.city_shopCardBox{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1%;
    border: 1px solid #CCC;
    background-color: #FFF;
}
.city_shopCardBox:hover {
    scale: 1.1;
    box-shadow: 0 8px 24px rgba(17, 17, 26, 0.1), 0 16px 56px rgba(17, 17, 26, 0.1), 0 24px 80px rgba(17, 17, 26, 0.1);
}


.city_shopCard_image{
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    /* background-color: red; */
}
.city_shopCard_cover{
    width: 100%;
    height: 100%;
}
.city_shopCard_conpon{
    position: absolute;
    top: 20px;
    left: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 60%;
    height: 25px;
    font-size: 1px;
    border-radius: 0 7px 7px 0;
    background-color: #FFA500;
}

.city_shopCard_delivery_time{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0;
    right:0;
    width: fit-content;
    padding: 3%;
    font-weight: bolder;
}

.city_shopCard_text{
    left: 0;
    width: 100%;
    padding: 10px 15px;
    /* background-color: yellow; */
}
.city_shoptitle{
    font-size: 14px;
}
.city_shopCard_text_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 10px;
    /* background-color: #FFA500; */
}

.city_shopCard_text{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
height: 100%;
}

.city_shopCard_score {
    display: flex;
    justify-content: flex-end;
}
.city_shopcontext{
    font-size: 14px;
    margin-bottom: 8px;
}
.city_shopbtn{
    display: block;
    position: absolute;
    right: 15px;
    top: 120px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    background-color: white;
    
}
.city_search_bar_toggle{
    display: none;
}
}


.city_icon{
    position: absolute;
    bottom: 0;
    right: 0;
}

