.chooseCart {
  position: absolute;
  width: 100%;
  border: 3px red solid;
  background-color: #ccc;
  min-height: 300px;
  padding: 5px;
  right: 0;
}

.cartList {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px red solid;
}

.cart {
  position: absolute;
  right: 0;
  width: 100%;
  border: 3px red solid;
  background-color: #bbb;

  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (min-width:768px) {
  .chooseCart {
    width: 300px;
    min-height: 300px;
  }

  .cart {
    width: 300px;
    min-height: 300px;

  }
}


.cartShopList {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px red solid;
}

.cartShopList:hover {
  background-color: #fff;
}