.orderOptions {
  border-bottom: 3px #222 solid;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 10px;
  position: sticky;
  top: calc(var(--navHeight) + 20px);
  /* background-color: #eee; */
  padding: 10px;
}

.storeOrderSwith {
  padding: 3px;
}

.storeOrderSwith.active {
  border-bottom: 5px solid #000;
  font-weight: 700;
}

.storeTimes {
  display: flex;
  gap: 10px;

}

.storeTimes>span {
  cursor: pointer;
}

.orderDetailsCardCol {
  width: 50%;
}

@media screen and (min-width:768px) {

  .orderDetailsCardCol {
    width: 25%;
  }

}

/* 卡片最外層  */
.orderDetailsCard {
  /* background-color: #fff; */

  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 10px; */
  min-height: 200px;
  justify-content: space-evenly;
  margin: 5px;
  /* margin-top: 10px; */
}

/* 卡片背景色 */
.orderDetailsCard.color0 {
  background: linear-gradient(to bottom, #fff 70%, var(--subColor) 100%);
}

.orderDetailsCard.color1 {
  background: linear-gradient(to bottom, #fff 70%, var(--mainColor) 100%);
}

.orderDetailsCard.color2 {
  background: linear-gradient(to bottom, #fff 70%, #c22 100%);
}

@media screen and (min-width:768px) {
  /* .storeConfirmOrder{
   max-width: 60%; 
  } */

}

/* 確認訂單燈窗內容 */
.storeConfirmOrder {
  display: flex;
  flex-direction: column;
  width: 450px;
  /* justify-content: space-evenly; */
  /* padding: 20px; */
  /* gap: 10px; */
  background-color: #fff;
  padding-top: 20px;
  padding: 30px;
}

.storeConfirmOrder>p {
  border-bottom: 3px #ccc solid;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
}

.storeConfirmOrder>* {
  vertical-align: middle;
  padding: 15px;
}

/* .storeConfirmOrder p:nth-child(2n+1){
  background-color: #aaa;
} */
/* 確認訂單燈窗內 顧客姓名+X鈕 */
.storeConfirmOrderNames {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.storeOrderProductsContents {
  border-bottom: 3px #ccc solid;
}

.productDetails {
  background-color: #FEEEEE;
  flex-wrap: wrap;
}

.shopMemos {
  /* background-color: #ddd; */
}

.storeConfirmOrderButton {
  text-align: center;
  background-color: #3893E8;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.setTimeButton {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}
.storeConfirmOrderAlertButton{
  /* text-align: center; */
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #3893E8;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border: none;
}
.storeConfirmOrderAlertButton:hover{
  background-color: #224f79;
  color: #ccc;
  box-shadow: inset 0 0 0 2px rgba(16, 170, 238, 1), 2px 2px 3px 1px rgba(208, 213, 219, 0.28);
}